@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

*::-webkit-scrollbar {
  display: none; /* for Chrome, Safari, and Opera */
}

html,
body {
  @apply font-sans h-full w-full m-0 p-0;
}

body > #__next {
  @apply bg-neutral-50 h-full w-full overflow-y-auto;
}

h1 {
  @apply font-serif;
  font-variation-settings: "opsz" 144, "SOFT" 50, "wght" 300;
  font-size: 6rem;
  letter-spacing: -0.1rem;
}

h2 {
  @apply font-serif leading-tight;
  font-variation-settings: "opsz" 144, "SOFT" 50, "wght" 300;
  font-size: 4.5rem;
  letter-spacing: -0.1rem;
}

[cmdk-list] {
  scroll-padding-block-start: 8px;
  scroll-padding-block-end: 8px;
}
